{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Welcome to Wisharoo, {{ firstName }}!</h1>
  <p>
    Thank you for joining our waitlist. We are thrilled to have you on board.
  </p>
  <p>
    Be the first to know when we launch and start exploring a world of wishes
    and possibilities!
  </p>
  <p>Sign up now on our website:</p>
  <p>
    <a href="https://wisharoo-spa.netlify.app/signup" class="button signup-link"
      >Sign Up</a
    >
  </p>
  <p>Stay tuned for exciting updates and exclusive offers.</p>
  <p>Follow us on social media to stay connected:</p>
  <p>
    <a href="#" class="button">Facebook</a>
    <a href="#" class="button">Instagram</a>
    <a href="#" class="button">Twitter</a>
  </p>
  <p>
    Feel free to reach out to us at support@wisharoo.com if you have any
    questions or need assistance.
  </p>
  <p>Best wishes,</p>
  <p>The Wisharoo Team</p>
</div>
{% endblock %}
